@zhichi-font-highlight: #38BDBF;
@zhichi-font-normal: #545D69;
@aside-width: 130px;

.Tabs {
    // background-color: #e0dbdb;
    text-align: center;
    // flex: 1;
    // margin-top: 60px;
    display: block;
    // width: 75%;
    font-size: 24px;
    font-weight: bold;
    color: @zhichi-font-normal;
    margin-left: 10PX;

    &:hover {
        color: @zhichi-font-highlight;
        cursor: pointer;
    }
}